JWT_SECRET=chavesecretaapidocly1234*
TOKEN_EXPIRES_IN=2h

# MySQL connection settings
DB_HOST=localhost
DB_USER=seu_usuario_mysql
DB_PASS=sua_senha_mysql
DB_NAME=seu_banco_mysql

# SQL Server connection settings
# Defina a unidade padrão utilizando as credenciais abaixo
SQLSERVER_DEFAULT_UNIT=ARTRO
SQLSERVER_HOST=sql
SQLSERVER_PORT=1433
SQLSERVER_USER=AcessoBI
SQLSERVER_PASSWORD="WeKnow@artro#456"
SQLSERVER_DB=Cadastros

# Configure unidades adicionais separando os nomes por vírgula
SQLSERVER_ADDITIONAL_UNITS=NOVO_MUNDO
# Para cada unidade adicional é necessário informar as variáveis abaixo
SQLSERVER_NOVO_MUNDO_HOST=sql
SQLSERVER_NOVO_MUNDO_PORT=1433
SQLSERVER_NOVO_MUNDO_USER=AcessoBI
SQLSERVER_NOVO_MUNDO_PASSWORD="WeKnow@novomundo#456"
SQLSERVER_NOVO_MUNDO_DB=Cadastros
